<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringM:war exploded">
    <output-path>$PROJECT_DIR$/SpringM/target/SpringM</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringM</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringM" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringM/target/SpringM/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringM/web/Web" />
    </root>
  </artifact>
</component>