<component name="ArtifactManager">
  <artifact type="war" name="SpringM:war">
    <output-path>$PROJECT_DIR$/SpringM/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>SpringM</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="SpringM.war">
      <element id="artifact" artifact-name="SpringM:war exploded" />
    </root>
  </artifact>
</component>