<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>EduAdmin - 500 Error </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="static/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/skin_color.css">	

</head>
<body class="hold-transition theme-primary bg-img" style="background-image: url(static/image/bg-5.jpg)">
	
	<section class="error-page h-p100">
		<div class="container h-p100">
		  <div class="row h-p100 align-items-center justify-content-center text-center">
			  <div class="col-lg-7 col-md-10 col-12">
				  <div class="rounded30 p-50">
					  <img src="static/picture/500.jpg" class="max-w-200" alt="">
					  <h1>Uh-Ah</h1>
					  <h3>Internal Server Error !</h3>
					  <div class="my-30"><a href="index.html" class="btn btn-info">Back to dashboard</a></div>
					  <h5 class="mb-15">-- OR --</h5>
					  <h4>Please try after some time</h4>			  			  
			      </div>							  			  
			  </div>				
		  </div>
		</div>
	</section>
	

	<!-- Vendor JS -->
	<script src="static/js/vendors.min.js"></script>
	<script src="static/js/chat-popup.js"></script>
    <script src="static/js/feather.min.js"></script>	


</body>
</html>
