spring:
  profiles:
    active: dev

---
server:
  port: 8201
#spring配置
spring:
  profiles: dev
  application:
    name: springcloud-config-client
#Eureka的配置，服务注册到哪里
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/

---
server:
  port: 8202
#spring配置
spring:
  profiles: test
  application:
    name: springcloud-config-client
#Eureka的配置，服务注册到哪里
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/
